@import "tailwindcss";

@font-face{
    font-family: Libre Franklin;
    src: url("./fonts/LibreFranklin-Regular.ttf");
}

.hero{
    background: url("./assets/hero.svg") no-repeat center/cover;
}

.section{
    background: url("./assets/section.svg") no-repeat center/cover;
}

.container{
    max-width: 1190px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
}